.OverlayLayout {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 16777271;
  transition: opacity .2s;
  opacity: 1;
  &.is-loading {
    opacity: 0;
    pointer-events: none;
  }
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  &.is-behind {
    visibility: hidden;
    z-index: -1;
  }
  & * {
    box-sizing: border-box;
  }
}

.OverlayLayout__wrapper {
  position: static;
}

.OverlayLayout__content {
  &, & > iframe {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100% !important;
  }
}

.Loader {
  &.is-shown {

  }
}

.no-animate {
  transition: none !important;
}
